body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(240,240,0);
    margin: 20px;
    color: red;
}
button {
    color:blue;
    width: 100px;
    height: 40px;
    font-size: 16px;
    background-color: red;
}

canvas {
    width: 200px;
    height:200px;
    display: inline-block;
}
.lichsu {
    border: solid;
    border-color: rgb(109, 109, 0);
    width:200px;
}
span {
    display: inline-block;;
}
span.lichsu {
    height: 400px;
    
    
}
div.lichsu {
    height:40px;
}