body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(240,240,0);
    margin: 20px;
    color: red;
}
button {
    color:blue;
    width: 100px;
    height: 40px;
    font-size: 16px;
    background-color: red;
}
#itsacanvas1 {
    display: inline;
}
canvas {
    width: 200px;
    height: 200px;
}